**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json

!playground/CMakeUserPresets.json
playground/ignore*/
playground/scripts/

**/__pycache__/

playground/fourbodypes/
playground/fourbody_examples/
playground/investigations/
playground/many_simulations_test/
playground/devtoml.toml
pimc_simpy/playground/slurm_files/
pimc_simpy/playground/other/
compilation_output.txt

TEMPNOTES.md
