**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json

playground/

**/__pycache__/

pimc_simpy/playground/slurm_files/
pimc_simpy/playground/other/
pimc_simpy/scripts/pes_files/
pimc_simpy/scripts/models/
other/investigations/

TEMPNOTES.md
