**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json

playground/
pimc_simpy/playground/

**/__pycache__/

pimc_simpy/scripts/pes_files/
pimc_simpy/scripts/models/
pimc_simpy/project_info_toml_files/
other/investigations/
other/platform_paths/

TEMPNOTES.md
